<div class="col-sm-12">
  <div class="well">
    <form action="/createTeamProfile" method="post">
        {{#if teamName}}
            <legend class="text-danger">Update Workout Report Team</legend>
        {{else}}
            <legend class="text-danger">New Workout Report Team</legend>
        {{/if}}
        <label>Team Name: </label>
        <img src="images/question-icon.png" width="20" height="20" title="Enter your new team's name." />
        <br />
        {{#if teamName}}
            <input type="text" name="name" id="name" size="30" required="required"  value="{{teamName}}" readonly/>
        {{else}}
            <input type="text" name="name" id="name" size="30" required="required" />
        {{/if}}
        <br /><br />
        <label>Team Spreadsheet ID: </label>
        <img src="images/question-icon.png" width="20" height="20" title="Specify Google Spreadsheet ID that contains the team's workouts."/>
        <br />
        <input type="text" name="spreadsheetId" id="spreadsheetId" size="30" value="{{spreadsheetId}}"/>
        <br /><br />
        <label>Activity: </label>
        <img src="images/question-icon.png" width="20" height="20" title="Assign a specific activity for your team."/>
        <br />
        <select name="activity" id="activity">
          <option value="">None</option>
          {{#each (listActivities) }}
            {{#if (ifCond this '==' ../activity) }}
              <option value="{{this}}" selected="selected">{{this}}</option>
            {{else}}
              <option value="{{this}}">{{this}}</option>
            {{/if}}
          {{/each}}
        </select>
        <br /><br />
        <label>Admin Emails: </label>
        <input id='addAdmin' type='button' value='+' />
        <img src="images/question-icon.png" width="20" height="20" title="Enter Admin emails to assign team modification permissions."/>
        <br />
        <input type="email" name="adminEmail0" id="adminEmail0" size="30" value="{{user.google.email}}" readonly/>
        {{#each admins }}
            {{#if (ifCond this '!=' ../user.google.email) }}
                <br />
                <input type="email" name="adminEmail{{@index}}" id="adminEmail{{@index}}" size="30" value="{{this}}" />
            {{/if}}
        {{/each}}
        <div id='adminInput'></div>
        <br /><br />
        <label>Teammate Emails: </label>
        <input id='addTeammate' type='button' value='+' />
        <img src="images/question-icon.png" width="20" height="20" title="List the emails that should be a part of this team."/>
        <br />
        <input type="email" name="teammateEmail0" id="teammateEmail0" size="30" value="{{user.google.email}}" readonly/>
        {{#each teammates }}
            {{#if (ifCond this '!=' ../user.google.email) }}
                <br />
                <input type="email" name="teammateEmail{{@index}}" id="teammateEmail{{@index}}" size="30" value="{{this}}" />
            {{/if}}
        {{/each}}
        <div id='teammateInput'></div>
        <br /><br />
        <label>Private Team: </label>
        {{#if private }}
            <input type="checkbox" name="private" id="private" value="Private Team" checked/>
        {{else}}
            <input type="checkbox" name="private" id="private" value="Private Team"/>
        {{/if}}
        <img src="images/question-icon.png" width="20" height="20" title="Only show this team to users that have been added as a team member."/>
        <br /><br />
        <button type="submit" class="btn btn-warning btn-lg">Save Team</button>
    </form>
  </div>
</div>
<script type="text/javascript" src="javascripts/teamProfileHelper.js"></script>
<script type="text/javascript">updateAdminCount({{admins.length}})</script>
<script type="text/javascript">updateTeammateCount({{teammates.length}})</script>
