<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">var userData = {{{strUser}}}.google.data; console.log("Data: " + userData[0]);</script>
<script type="text/javascript">var lift = "{{lift}}"; console.log("lift: " + lift);</script>
<script type="text/javascript" src="../javascripts/chartHelper.js"></script>
<script type="text/javascript" src="../javascripts/chartLift.js"></script>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><center><strong>General</strong></center></li>
          <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          {{#if user.google.spreadsheetId}}
            <li><a href="https://docs.google.com/spreadsheets/d/{{user.google.spreadsheetId}}/edit#gid=0">Google Sheet</a></li>
              <li><a href="/team">Team Statistics</a></li>
          {{/if}}
        </ul>
        <ul class="nav nav-sidebar">
          {{#if user.google.data}}
            <li><center><strong>Lift Reports</strong></center></li>
            {{#each (getColumns user.google.data) }}
              <li><a href="/lift/{{encode this}}">{{this}}</a></li>
            {{/each}}
          {{/if}}
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>

        <div class="row placeholders">
          <div class="placeholder">
            <div id="chart_div_lift" style="" class="img-responsive"></div>
            <h4 id="chart_div_lift_title">{{lift}}</h4>
            <span class="text-muted">Max</span>
          </div>
        </div>

        <h2 class="sub-header">{{lift}} Data</h2>
        <div class="table-responsive">
        <table class="table table-striped">
          {{#if user.google.data }}
            {{{ generateLiftTable lift user.google.data}}}
          {{else}}
            <thead>
              <tr>
                <th>Date</th>
                <th>Rep 1</th>
                <th>Rep 2</th>
                <th>Rep 3</th>
                <th>Rep 4</th>
                <th>Rep 5</th>
                <th>1RM</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Today</td>
                <td>Rep 1 Numbers</td>
                <td>Rep 2 Numbers</td>
                <td>Rep 3 Numbers</td>
                <td>Rep 4 Numbers</td>
                <td>Rep 5 Numbers</td>
                <td>1RM Numbers</td>
              </tr>
            </tbody>
          {{/if}}
          </table>
        </div>
        <h2 class="sub-header">{{lift}} Videos</h2>
        <div class="row placeholders">
          <div class="col-xs-6 col-sm-6 placeholder">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/{{videos.0.id.videoId}}"></iframe>
            <h4 id="chart_div0_title">{{videos.0.snippet.title}}</h4>
            <span class="text-muted">Form</span>
          </div>
          <div class="col-xs-6 col-sm-6 placeholder">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/{{videos.1.id.videoId}}"></iframe>
            <h4 id="chart_div1_title">{{videos.1.snippet.title}}</h4>
            <span class="text-muted">Other Exercises</span>
          </div>
        </div>
      </div>
    </div>
  </div>
