<div class="col-sm-12">
    <div class="well">
        <h3 class="text-danger"><span class="fa fa-google-plus"></span> User Profile</h3>
            <p>
                <strong>ID</strong>: {{ user.google.id }}<br>
                <strong>Name</strong>: {{ user.google.name }}<br>
                <strong>Email</strong>: {{ user.google.email }}<br>
                <strong>SpreadsheetId</strong>: {{ user.google.spreadsheetId }}<br><br><br><br>
                <!-- <strong>Token</strong>: {{ user.google.token }}<br> -->
                <!-- <strong>RAW</strong>: {{ user.google.raw }} -->
            </p>
    </div>
</div>
{{#if user.google.id}}
  <div class="col-sm-6">
      <div class="well">
        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Extra Profile Data</h3>
        <form action="/profile" method="post">
            <label>Activity: </label>
            <select name="activity" id="activity" selected="{{user.profile.activity}}">
              <option value="">None</option>
              {{#each (listActivities) }}
                {{#if (ifCond this '==' ../user.profile.activity) }}
                  <option value="{{this}}" selected="selected">{{this}}</option>
                {{else}}
                  <option value="{{this}}">{{this}}</option>
                {{/if}}
              {{/each}}
            </select>
            <img src="images/question-icon.png" width="20" height="20" title="Specify which activity your lift videos will query against."/>
            <br>
            <label>Team: </label>
            <select name="team" id="team">
              <option value="">None</option>
              {{#each fullTeamList }}
                {{#if (ifCond this.[0] '==' ../user.profile.team) }}
                  <option value="{{this.[0]}}" selected="selected">{{this.[0]}}</option>
                {{else}}
                  <option value="{{this.[0]}}">{{this.[0]}}</option>
                {{/if}}
              {{/each}}
            </select>
            <img src="images/question-icon.png" width="20" height="20" title="Select which team to view throughout Workout Report."/>
            <br>
            <label>Max Dashboard Days: </label>
            <select name="maxDashDays" id="maxDashDays" selected="{{user.profile.maxDashDays}}">
              <option value="0">All</option>
              {{#each (listMaxDashDays 30) }}
                {{#if (ifCond this '==' ../user.profile.maxDashDays) }}
                  <option value="{{this}}" selected="selected">{{this}}</option>
                {{else}}
                  <option value="{{this}}">{{this}}</option>
                {{/if}}
              {{/each}}
            </select>
            <img src="images/question-icon.png" width="20" height="20" title="Displays the max number of days on the front dashboard."/>
            <br>
            <button type="submit" class="btn btn-warning">Save Profile</button>
            {{#if updatedBool }}
                <label class="text-danger">&nbsp;&nbsp;&nbsp;Updated!</label>
            {{/if}}
        </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <!-- #if team -->
      {{#if teamList}}
        <h3 class="text-danger"><span class="fa fa-google-plus">Team Profiles</span></h3>
        {{#each teamList }}
            <p><b>Team: </b>{{this.[0]}}
            {{#if this.[1]}}
                <a href="/createTeamProfile?name={{this.[0]}}" style="float: right" class="btn btn-warning">Update {{this.[0]}} Profile</a>
            {{/if}}
            </p>
            <br />
        {{/each}}
        <br />
      {{else}}
        <h3 class="text-danger"><span class="fa fa-google-plus">No Team Found</span></h3>
        <p>This area will be populated once you have been added to a team.</br></br>
          If you want to be added to a team contact your Workout Report admins or create your own!
        </p>
      {{/if}}
      <a href="/createTeamProfile" class="btn btn-warning">Create New Team</a>
    </div>
  </div>
{{/if}}
