<div class="col-sm-12">
    <div class="well">
        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google Data</h3>

            <p>
                <strong>ID</strong>: {{ user.google.id }}<br>
                <strong>Token</strong>: {{ user.google.token }}<br>
                <strong>Name</strong>: {{ user.google.name }}<br>
                <strong>Email</strong>: {{ user.google.email }}<br>
                <strong>SpreadsheetId</strong>: {{ user.google.spreadsheetId }}<br><br><br><br>
                <strong>RAW</strong>: {{ user.google.raw }}
            </p>
    </div>
</div>
<!-- <div class="container">
    <h1><span class="fa fa-sign-in"></span> Specify Google Spreadsheet</h1>
    <form action="/" method="get">
        <label>SpreadSheet ID: </label> <input type="text" class="form" name="spreadsheetId" size="50"><br>
        <button type="submit" class="btn btn-warning btn-lg">Upload Data</button>
    </form>
</div> -->
